html{
	background: #fff;
}
html,
body {
	width: 100%;
	position: absolute;
}
div, html, body, span, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset,label, legend, iframe, img, form, th, td, input, textarea, select,b{ 
	margin:0; 
	padding:0;
	border:none;
    list-style:none;
    font-size: 14px;
    color: #fff;
	font-family:Arial, "Microsoft YaHei","simsun","Helvetica Neue", Helvetica, sans-serif;
}
a{
	text-decoration:none; 
	cursor:pointer;
}
h3,h4,h5{
	font-weight:normal;
}
img{
	border:0;
}
ul,li,dl,ol{
	list-style:none;
}
input{
	border: none;
	outline: none;
	list-style: none;
	padding: 0;	
}
div,a,button,input,textarea,span{
    tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
button,input,textarea,select,span,a{
	outline:none;
}
i,em,b{
	font-style: normal;
}
table{
	border-spacing: 0;
    border-collapse: collapse
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}

.clearfix {
	zoom: 1;
}