.left {
	float: left;
}

.right {
	float: right;
}

.research {
	background-image: url(../img/research_bg_02.png), url(../img/research_bg_06.png);
	background-position: left top, right bottom;
	background-repeat: no-repeat, no-repeat;
}

.publication {
	background-image: url(../img/publication_bg_02.png), url(../img/publication_bg_06.png);
	background-position: left top, right bottom;
	background-repeat: no-repeat, no-repeat;
}

.contact {
	background-image: url(../img/contact_bg_03.png), url(../img/contact_bg_05.png);
	background-position: right top, left bottom;
	background-repeat: no-repeat, no-repeat;
}

.news {
	background-image: url(../img/news_bg_03.png), url(../img/news_bg_05.png);
	background-position: right top, left bottom;
	background-repeat: no-repeat, no-repeat;
}

.restrict {
	width: 100%;
	min-width: 1200px;
}

.header {
	background: #647993;
	height: 110px;
}

.row {
	width: 1200px;
	margin: 0 auto;
	position: relative;
}

.logo {
	float: left;
	margin-top: 20px;
	width: 195px;
	height: 75px;
	background: url(../img/logo.jpg) no-repeat;
}

.nav {
	width: 1000px;
	float: left;
}

.nav li {
	float: left;
	width: 11%;
	line-height: 110px;
}

.nav li:nth-child(7) {
	width: 23%;
}

.nav li a {
	text-align: center;
	width: 100%;
	display: inline-block;
	color: #fff;
	font-size: 18px;
}

.nav li.curr a,
.nav li:hover a {
	background: #84a7c9;
}

.LangSwitcher {
	position: absolute;
	right: -100px;
	color: #386087;
	height: 20px;
	font-size: 18px;
	line-height: 110px;
}

.LangSwitcher a {
	font-size: 16px;
	color: #386087;
	font-weight: bold;
}

.LangSwitcher a.curr {
	color: #739cbd;
}

.banner {
	height: 714px;
	background-color: #1e1e1e;
	background-image: url(../img/banner_bg.png);
	background-repeat: no-repeat;
	background-position: 100% 90px;
}

.pic {
	overflow: hidden;
	width: 1200px;
	margin: 0 auto;
	padding-top: 74px;
}

.pic ul {
	height: 500px;
	overflow: hidden;
}

.pic ul li {
	float: left;
	height: 500px;
	width: 140px
}

.pic ul .zpic {
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.pic ul .zpic.curr .txt {
	background:-moz-linear-gradient(left,rgba(0,0,0,.8),transparent);/*Mozilla*/
	background:-webkit-gradient(linear,0 50%,100% 50%,from(rgba(0,0,0,.8)),to(transparent));/*Old gradient for webkit*/
	background:-webkit-linear-gradient(left,rgba(0,0,0,.8),transparent);/*new gradient for Webkit*/
	background:-o-linear-gradient(left,rgba(0,0,0,.8),#transparent); /*Opera11*/
	width: 200px;
}

.pic ul .zpic.curr .txt p {
	color: #88aacc;
}

.pic ul .zpic img {
	min-width: 100%;
	height: 100%;
}

.txt {
	background: rgba(39, 83, 125, 0.8);
	height: 500px;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}


.txt .p1 {
	transform: rotate(90deg);
	transform-origin: bottom left;
	font-size: 13px;
	width: 500px;
	position: absolute;
	padding-bottom: 20px;
	font-size: 18px;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3)
}

.progress {
	margin: 50px 0;
	width: 100%;
	border-top: 1px solid #647993;
	position: relative;
}

.progress .piece {
	position: absolute;
	height: 5px;
	top: -3px;
	background: #88aacc;
}

.foot {
	border-top: 1px solid #eeeeee;
}

.foot .bottom {
	height: 120px;
	background-color: #a1b6c6;
	text-align: center;
}

.footnav {
	margin: 35px 0 20px 0;
	display: inline-block;
}

.footnav li {
	float: left;
}

.footnav li a {
	border-right: 1px solid #fff;
	padding: 0 10px;
	color: #fff;
	display: inline-block;
}

.footnav li:last-child a {
	border-right: none;
}

.copyright {
	color: #1f2124;
}

.intr {
	height: 500px;
	background-color: #fafafa;
	background-image: url(../img/intr-bg.png);
	background-repeat: no-repeat;
	background-position: left 70px;
}

.intrtop {
	padding-top: 77px;
}

.ResearchArea {
	width: 516px;
}

.News .list,
.ResearchArea .list {
	margin-top: 5px;
}

.ResearchArea .list li {
	height: 67px;
	line-height: 67px;
	margin-bottom: 1px;
}

.ResearchArea .list li a {
	background: #dfdfdf;
	text-indent: 18px;
	font-size: 24px;
	width: 100%;
	display: inline-block;
	color: #5a5a5a;
}

.ResearchArea .list li a:hover {
	background: #739cbd;
	color: #fff;
}

.News {
	width: 600px;
}

.News .list li {
	height: 124px;
	border-bottom: 1px solid #e0e0e0;
}

.News .list li a {
	width: 94%;
	padding: 0 3%;
	height: 124px;
	display: inline-block;
}

.News .list li a:hover {
	background: #386087;
}

.News .list li a:hover span,
.News .list li a:hover p {
	color: #fff;
}

.News .list li span {
	font-size: 20px;
	color: #637b94;
	line-height: 50px;
}

.News .list li p {
	font-size: 20px;
	color: #5a5a5a;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.Title a,
.Title {
	position: relative;
	color: #637b94;
	font-size: 22px;
	padding-bottom: 30px;
}

.Title:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 52px;
	border-bottom: 3px solid #739cbd;
}

.MoreBtn {
	text-align: right;
	padding-bottom: 15px;
	border-bottom: 1px solid #e0e0e0;
}

.MoreBtn a {
	color: #fff;
	display: inline-block;
	width: 75px;
	height: 40px;
	border-radius: 40px;
	background: #739cbd;
	line-height: 40px;
	text-align: center;
}

.blogroll {
	height: 147px;
	text-align: center;
}

.blogroll li {
	padding: 20px 50px;
	display: inline-block;
}

.maxTitle {
	height: 100px;
	background: #386087;
	padding-left: 35px;
	position: relative;
	margin-top: 75px;
	margin-bottom: 35px;
}

.maxTitle:before {
	content: "";
	position: absolute;
	bottom: -6px;
	left: 0;
	right: 0;
	border-bottom: 1px solid #e0e0e0;
}

.maxTitle>div {
	height: 35px;
	position: relative;
	font-size: 24px;
	display: inline-block;
	margin: 32px 0;
}

.maxTitle>div:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	border-bottom: 3px solid #fff;
	width: 50px;
}

.researchlist {
	margin-bottom: 50px;
}

.researchlist li {
	height: 67px;
	line-height: 67px;
	margin-bottom: 1px;
}

.researchlist li a {
	text-indent: 35px;
	display: inline-block;
	width: 100%;
	background: #ebebeb;
	font-size: 24px;
	color: #5a5a5a;
}

.researchlist li a:hover {
	background: #7ca2c4;
	color: #fff;
}

.principal {
	padding-bottom: 43px;
}

.principal .textinfo {
	background: #222;
	height: 258px;
	width: 670px;
	overflow: hidden;
	position: relative;
	padding: 30px;
}

.principal .textinfo .title {
	font-size: 30px;
	margin-bottom: 20px;
}

.principal .textinfo p {
	display: block;
	font-size: 16px;
	margin-bottom: 20px;
	line-height: 28px;
}

.peoplelist .peopleli:nth-child(odd) {
	background: #eeefef;
}

.peoplelist .peopleli {
	width: 100%;
	padding-top: 52px;
}

.peopleli .bom {
	margin-right: 0;
}

.peopleli .title {
	font-size: 22px;
	color: #5a5a5a;
	padding: 20px 0;
}

.peopleli .text {
	font-size: 16px;
	color: #5a5a5a;
	line-height: 30px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}

.peopleli .more {
	display: inline-block;
	font-size: 16px;
	color: #386087;
	padding: 30px 0;
}

.alumnibg {
	overflow: hidden;
	padding-bottom: 80px;
	background: #eeefef;
}

.alumni .imginfo {}

.alumni .textinfo {
	background: #627a95;
	height: 220px;
	width: 670px;
	overflow: hidden;
	position: relative;
	padding: 30px;
}

.alumni .textinfo .title {
	font-size: 30px;
	margin-bottom: 20px;
}

.alumni .textinfo p {
	display: block;
	font-size: 16px;
	margin-bottom: 20px;
	line-height: 28px;
}

.time-axis {
	margin: 0;
	padding: 0;
	position: relative;
}

.popups {
	display: none;
	position: fixed;
	background: #fff;
	width: 1200px;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	height: 600px;
	margin: auto;
	-moz-box-shadow: 1px 1px 14px #cbcccc;
	-webkit-box-shadow: 1px 1px 14px #cbcccc;
	box-shadow: 1px 1px 14px #cbcccc;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=14, Direction=135, Color='#eee')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=14, Direction=135, Color='#eee');
}

.popups .popnames {
	font-size: 30px;
	color: #5a5a5a;
	background: #eeefef;
	line-height: 132px;
	padding: 0 50px;
}

.popups .popbody {
	font-size: 16px;
	color: #5a5a5a;
	line-height: 35px;
	padding: 30px 50px;
	height: 300px;
	overflow-y: auto;
}

.popups .popfoot {
	text-align: center;
}

.popups .popfoot .colosebtn {
	font-size: 22px;
	color: #fff;
	background: #627a95;
	padding: 10px 60px;
}

.popups .colosebtn {
	font-size: 16px;
	color: #5a5a5a;
	line-height: 35px;
	padding: 30px 50px;
}

.time-axis:before {
	content: '';
	position: absolute;
	left: 46px;
	top: 26px;
	width: 1px;
	height: 96%;
	background-color: #E4E4E4;
}

.time-axis-item {
	list-style: none;
	padding-left: 90px;
	position: relative;
	line-height: 45px;
	font-size: 14px;
	color: #141414;
	margin-bottom: 50px;
}

.time-axis-achievement {
	margin: 0;
}

.time-axis-date {
	position: absolute;
	left: 0;
	top: 0;
	color: #666;
}

.time-axis-date span {
	position: absolute;
	right: -54px;
	top: 20px;
	width: 14px;
	height: 14px;
	border: 1px solid #ccc;
	border-radius: 100%;
	background-color: #fff;
}

.time-axis-date span:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 8px;
	height: 8px;
	margin: auto;
	background-color: #ccc;
	border: 1px solid #ccc;
	border-radius: 100%;
}

.time-axis-item .time-axis-title .date {
	font-size: 30px;
	background: #e5e5e5;
	padding: 0 30px;
	line-height: 60px;
	margin-bottom: 1px;
}

.time-axis-item .time-axis-title .notepad {
	font-size: 16px;
	background: #f8f8f8;
	padding: 20px 30px;
	line-height: 28px;
}

.time-axis-item .time-axis-title>div p,
.time-axis-item .time-axis-title>div {
	color: #5a5a5a;
}

.time-axis-item .time-axis-title>div p {
	padding-bottom: 20px;
}

.time-axis-item:hover .time-axis-title .date {
	background: #7ea4c5;
	color: #fff;
}

.time-axis-item:hover .time-axis-title .notepad {
	background: #88aacc;
}

.time-axis-item:hover .time-axis-title .notepad p {
	color: #fff;
}

.contactinfo {
	width: 590px;
	padding-bottom: 110px;
}

.contactinfo .title {
	background: #7ea3c5;
	font-size: 22px;
	line-height: 60px;
	text-indent: 30px;
}

.contactinfo .site {
	background: #e8e8e8;
	font-size: 20px;
	padding: 18px 0;
}

.contactinfo .site .text {
	width: 380px;
	padding-left: 30px;
	line-height: 35px;
	font-size: 20px;
	color: #646464;
}

.contactinfo .mail {
	background: #1e1e1e;
	font-size: 22px;
	line-height: 75px;
	text-indent: 30px;
}

/* news */
.newslist {
	padding-bottom: 50px;
}

.newslist li {
	border-bottom: 1px solid #e5e5e5;
	padding-top: 30px;
}

.newslist li .newsdate {
	line-height: 50px;
	height: 50px;
	margin-bottom: 1px;
}

.newslist li .newsdate span {
	background: #626262;
	font-size: 26px;
	padding: 5px 25px;
}

.newslist li .newsbrief {
	padding: 25px;
	line-height: 25px;
}

.newslist li .newsbrief a {
	font-size: 18px;
	color: #5a5a5a;
}

.newslist li:hover .newsdate {
	background: #7ea4c5;
}

.newslist li:hover .newsdate span {
	background: transparent;
}

.newslist li:hover .newsbrief {
	background: #1e1e1e;
}

.newslist li:hover .newsbrief a {
	color: #fff;
}

.news .Title {
	margin: 50px 0;
}

.newsbody .letter {
	padding-bottom: 30px;
}

.newsbody .letter img {
	display: block;
	max-width: 1200px;
	margin: 20px auto;
}

.newsbody .letter p {
	color: #5a5a5a;
	line-height: 28px;
}

.newsbody .newsheader {
	margin-bottom: 50px;
}

.newsbody .newsheader .newsbrief {
	background: #386087;
	font-size: 20px;
	padding: 20px 25px;
	line-height: 30px;
}

.newsbody .newsheader .newsdate {
	background: #1e1e1e;
	line-height: 37px;
	height: 37px;
	font-size: 20px;
	text-align: right;
	padding-right: 30px;
}

.lifeList {
	overflow: hidden;
}

.lifeList .lifeLi {
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.lifeList .lifeLi .title {
	height: 65px;
	line-height: 65px;
	overflow: hidden;
}

.lifeList .lifeLi .title span {
	font-size: 30px;
	color: #1e1e1e;
}

.lifeList .lifeLi ul {
	overflow: hidden;
	margin-right: -60px;
}

.lifeList .lifeLi ul li {
	width:378px;
	height:289px;
	float: left;
	margin-right: 32px;
	overflow:hidden;
	display:flex;
	justify-content: center;
	align-items: center;
}

.lifeList .lifeLi ul li img {

}

.ReadMoreBtn {
	cursor: pointer;
	display: block;
	border: 2px solid #386087;
	background: transparent;
	line-height: 40px;
	color: #386087;
	padding: 0 30px;
	margin: 80px auto;
	border-radius: 40px;
}

.lifebody .title {
	font-size: 28px;
	color: #1e1e1e;
	border-bottom: 1px solid #e0e0e0;
	height: 80px;
	line-height: 80px;
	margin-bottom: 20px;
}

.device {
	width: 1200px;
	height: 458px;
	background: #f0f0f0;
	position: relative;
}

.device .arrow-left {
	background: url(../img/arrows.png) no-repeat 10px 5px;
	position: absolute;
	left: 10px;
	top: 50%;
	margin-top: -20px;
	width: 40px;
	height: 40px;
	border: 2px solid #386087;
	border-radius: 100%;
	z-index: 9;
}

.device .arrow-right {
	background: url(../img/arrows.png) no-repeat 12px -48px;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -20px;
	width: 40px;
	height: 40px;
	border: 2px solid #386087;
	border-radius: 100%;
	z-index: 9;
}

.swiper-container {
	height: 458px;
	width: 1200px;
}

.swiper-slide img {
	display: block;
	margin: 0 auto;
}

.subheadings {
	height: 60px;
	line-height: 60px;
	background: #1e1e1e;
	text-align: center;
	font-size: 30px;
	margin: 30px 0 50px 0;
}

.subheadings span {
	font-size: 22px;
}
.people-ico {
	display: inline-block;
	margin-left: 20px;
	text-align: center;
	width: 102px;
	height: 25px;
	text-indent: 10px;
	line-height: 25px;
	vertical-align: middle;
	background: url(../img/peop_03.png);
	color: #fff;
	font-size: 16px;
}